/* 
* Stylesheet for the main page Sean's Used Sports Equipment Store
*/

.hidden {
    display: none;
}

#not-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header {
    font-family: 'Poetsen One', sans-serif;
}